.navbar {
  flex: 0.2;
  background-color: rgb(0, 21, 41);

  &__container {
    position: fixed;
    left: 0;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    background-color: var(--background-navbar);
  }

  &__header {
    background-color: var(--background-navbar);
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
  }

  &__name {
    margin: 0 0 0 15px;
    margin-bottom: 0;

    a {
      color: var(--text-navbar);
    }
  }

  &__switch {
    margin-top: 10px;
    margin-left: 10px;
  }

  @media screen and (max-width: 800px) {
    flex: 1;

    &__container {
      height: 8vh;
      position: fixed;
      width: 100%;
      z-index: 100;
      background-color: $bg-secondary;
    }
  }
}
