.menu-button {
  display: none;
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 1.2rem;
  border: none;

  &__content {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 800px) {
    display: flex;
    align-items: center;
  }
}
