.line-chart {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd;

  &__title {
    color: #0071bd;
  }

  &__price {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
  }

  &__change {
    font-weight: 900;
  }

  &__current {
    margin-top: 0px;
    font-weight: 900;
  }
}
