.news {
  &__text {
    color: black;
    margin: 10px 0px;
  }

  &__select {
    width: 180px;
  }

  &__card {
    min-height: 300px;
  }

  &__image {
    display: flex;
    justify-content: space-between;

    img {
      width: 30%;
      height: 30%;
    }
  }

  &__title {
    width: 65%;
    font-size: 18px;
  }

  &__provider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 18.5px;

    &-name {
      margin: 0 10px;
      flex: 1;
    }
  }
}
