.btn {
  background-color: green;

  // Size
  &__small {
    width: 2rem;
  }
  &__medium {
    width: 3rem;
  }
  &__large {
    width: 10rem;
  }

  // Color
  &--blue {
    background-color: #1890ff;
    color: #fff;

    &:focus {
      background-color: #1890ff;
      color: #fff;
    }
  }
  &--green {
    background-color: green;
    color: #aaa;

    &:focus {
      background-color: green;
      color: #aaa;
    }
  }
}
