.cryptocurrencies {
  min-height: 65vh;

  &__card {
    min-width: 250px;
  }

  &__image {
    width: 35px;
    height: 35px;
  }

  &__search {
    margin: 20px auto 30px auto;
    width: 250px;
  }

  &__search {
    margin: 20px auto 30px auto;
    width: 250px;
  }
}
