.cryptocurrencies {
  min-height: 65vh;

  &__card {
    min-width: 250px;
    position: relative;
  }

  &__heart {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 20px;
    z-index: 100000;

    &:hover {
      color: red;
    }

    &.active {
      color: red;
    }
  }

  &__image {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  &__search {
    margin: 20px auto 30px auto;
    width: 250px;
  }

  &__search {
    margin: 20px auto 30px auto;
    width: 250px;
  }
}
